*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 60px 0;

}
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#title{
    margin:5px 10px;
}
#header p{
    margin: 5px 0 10px 0;
}

#survey-form{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #390163;
    color: white;
    width: 800px;
    padding: 10px 15px;
}
.form-unit{
    display: flex;
    flex-direction: column;
    margin:5px 10px;
}
.form-unit p,select{
    font-size: 20px;
}
.form-unit label{
    margin: 5px;
    
}
#radio-buttons{
    font-size: 15px;
}
#submit{
    width: 200px;
    margin: 20px 0 30px 0;
    align-self: center;
    background-color: teal;
    font-size: 15px;
    padding: 10px 5px;
    color: white;
    border: none;
}

@media (max-width:850px) {
    #survey-form{
        width: 100%;
    }
}